<input  id="search-input" type="search" placeholder="Search">
<i class="fa fa-search"id="search-button" ></i>
<h1>Hello User</h1>
<h2>Welcome To Your Restaurant</h2>


   <div class="card-group">
    <div class="card">
      <img style="width: 100%;height:64.2%;" src="https://media.istockphoto.com/id/1407982559/photo/spaghetti-or-linguine-with-meat-and-tomato-sauce-bolognese-on-a-black-plate-and-dark.webp?b=1&s=612x612&w=0&k=20&c=Ey5ZB7saQd4SP4H3zq3Mi9aX0I35mNh3yom-u4kD8vk=" class="card-img-top" alt="..."> 
    <div class="card-body">
      <h5 class="card-title">Pasta</h5>
      <p class="card-text">
        collective name for a category of food made from wheat flour and water, sometimes with egg. 
         </p>
       
      <p class="card-text"><small class="text-muted">
            <button class="btn btn-outline-danger">Order Now !!!</button>
      </small>
      </p>


    </div>

    </div>
    <div class="card">
        <img style="width: 100%;height:64.2%;" src="https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395_1280.jpg" class="card-img-top" alt="..."> 
      <div class="card-body">
        <h5 class="card-title">Pizza Pepperoni</h5>
        <p class="card-text">
          pizza, dish of Italian origin consisting of a flattened disk of bread dough topped with some combination of olive oil, 


        </p>
        <p class="card-text"><small class="text-muted">
          <button class="btn btn-outline-primary">Order Now !!!</button>

        </small></p>
      </div>


    </div>
    <div class="card">
      <img style="width: 100%;height:64.2%;"  src="https://cdn.pixabay.com/photo/2018/07/18/19/12/pasta-3547078_640.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Spaghetti</h5>
        <p class="card-text">
          Spaghetti (Italian: [spaˈɡetti]) is a long, thin, solid, cylindrical pasta.

        </p>
        <p class="card-text"><small class="text-muted">
          <button class="btn btn-outline-success">Order Now !!!</button>
        </small></p>

    </div>
    </div>
  </div> 





  <div class="card-group">
    <div class="card">
      <img style="width: 100%;height:64.2%;" src="https://media.istockphoto.com/id/1473452859/photo/tasty-cheeseburger-glass-of-cola-and-french-fries-on-wooden-tray-close-up.webp?b=1&s=612x612&w=0&k=20&c=MKN_GdZCuawvAXnP7wM5Lf-N0MFTT1bxmaZ5IwjSdck=" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Hamburger</h5>
        <p class="card-text">
         A hamburger is a sandwich consisting of a cooked meat patty on a bun or roll.
        </p>
        <p class="card-text"><small class="text-muted">
          <button class="btn btn-outline-warning">Order Now !!!</button>

        </small></p>
   
    </div>
    </div>



    <div class="card">
      <img style="width: 100%;height:64.2%;" src="https://media.istockphoto.com/id/1455290822/photo/cantonese-style-recipes-for-chinese-new-year-festive-table-sea-bass-or-spigola-fish-steamed.webp?b=1&s=612x612&w=0&k=20&c=Ta_hvs6uip2iWUxyvqkTGqphgRghWJ3gYoR6dhav_C0=" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Fish</h5>
        <p class="card-text">
          Fish are aquatic vertebrate animals that have gills but lack limbs with digits, like fingers or toes.
        </p>
        <p class="card-text"><small class="text-muted">
          <button class="btn btn-outline-info">Order Now !!!</button>
            </small></p>
  
    </div>
    </div>



    <div class="card">
      <img style="width: 100%;height:64.2%;" src="https://cdn.pixabay.com/photo/2014/11/05/15/57/salmon-518032_640.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Meat</h5>
        <p class="card-text">
          Meat is defined as the flesh of animals (including fishes and birds) used as food, that can be part of a healthful diet.

        </p>
      
        <p class="card-text"><small class="text-muted">
          <button class="btn btn-outline-secondary">Order Now !!!</button>

        </small></p>
    </div>
    </div>
  </div> 











<h1 id="Dessert">Dessert</h1>

<div class="card-group">
    <div class="card">
      <img  style="width: 100%;height:64.2%;" src="https://media.istockphoto.com/id/1405543709/photo/colorful-ice-cream-balls-on-table.webp?b=1&s=612x612&w=0&k=20&c=W5bmqfrPk-OF0lHqaCWqKo_gjd6jxv-H09fJPL20_xI=" class="card-img-top" alt="...">
      <div class="card-body">
        <h5  class="card-title">Ice Cream</h5>
        <p  class="card-text">
          a rich, sweet, creamy frozen food made from variously flavored cream and milk products.
        </p>
        <p class="card-text"><small class="text-muted">
          <button class="btn btn-outline-dark">Order Now !!!</button>

        </small></p>
   
    </div>
    </div>

        

    <div class="card">
      <img style="width: 100%;height:64.2%;" src="https://media.istockphoto.com/id/522735736/photo/chocolate-background.webp?b=1&s=612x612&w=0&k=20&c=y6M2-Ju_i2EsFufocUljr7VlZgoY7ZaQZZwNJH8k8nk=" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Chocolate</h5>
        <p class="card-text">
          chocolate, food product made from cocoa beans, consumed as candy and used to make beverages and to flavour .
        </p>
        <p class="card-text"><small class="text-muted">
          <button class="btn btn-outline-primary">Order Now !!!</button>

        </small></p>
  
    </div>
    </div>



    <div class="card">
      <img style="width: 100%;height:64.2%;" src="https://media.istockphoto.com/id/497959594/photo/fresh-cakes.webp?b=1&s=612x612&w=0&k=20&c=9iYs81_U_zFliPL3lnp1R9AKRm_vmS0s40Yxs1pre3Y=" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Candy</h5>
        <p class="card-text">
          candy, also called confectionery, sweet food product, the main constituent of which generally is sugar. 

        </p>
      
        <p class="card-text"><small class="text-muted">
          <button class="btn btn-outline-danger">Order Now !!!</button>

        </small></p>
    </div>
    </div>
  </div> 


